# server/data
service/data/*.mp3
service/data/*.mp4
service/data/*.flac
server/data/*.pdf

# client/data
client/data/*.mp3
client/data/*.mp4
client/data/*.flac
client/data/*.pdf

# exe
service/src/*.exe
client/src/*.exe

